:root {
    --heading: #08345c;
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #092640;
}

h1 {
    /* text-align: center; */
    /* margin-left: 2rem; */
    color: white;
    padding-left: 1rem;
}

header {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: var(--heading);
    height: 4rem;
}

header i {
    filter: drop-shadow(5px 5px 3px #2370b9);
    margin-left: 4rem;
    color: white;
    font-size: 3rem;
}


.container{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    border: 2px solid wheat;
    padding: 2rem;


}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin: 2rem 0;
}

.button{
    border-radius: 1rem;
    height: 4rem;
    width: 4rem;
    margin: 4px 4px;
}

.button:hover{
    filter: drop-shadow(2px 2px 2px white) drop-shadow(-2px -2px 2px white);
}

input{
    padding: 1rem 4rem;
    margin-bottom: 2rem;
    text-align: left;
    justify-content: end;
}